html,
body,
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.header__wrapper {
  margin: 0 auto;
  max-width: 1790px;
  padding: 0 15px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
  gap: 0.625rem;
}
@media (min-width: 48em) {
  .header__body {
    padding: 4.125rem 0;
  }
}
.header__logo {
  aspect-ratio: 108/24;
  max-width: 6.75rem;
  flex-shrink: 0;
  position: relative;
  z-index: 6;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .icon-menu {
  display: block;
  width: 26px;
  height: 20px;
  position: relative;
  z-index: 6;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .icon-menu span, .header .icon-menu::before, .header .icon-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  transition: 0.3s ease;
}
.header .icon-menu span {
  top: 50%;
  transform: translateY(-50%);
}
.header .icon-menu::before {
  top: 0;
}
.header .icon-menu::after {
  bottom: 0;
}
body.menu-open .header .icon-menu span {
  width: 0;
}
body.menu-open .header .icon-menu::before {
  transform: rotate(45deg) translateY(-2px);
  top: 50%;
}
body.menu-open .header .icon-menu::after {
  transform: rotate(-45deg) translateY(1px);
  bottom: 50%;
}
.header .menu__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5625rem;
  position: fixed;
  top: 5.6875rem;
  left: -100%;
  width: 100%;
  height: calc(100vh - 5.6875rem);
  background-color: #0b1d26;
  padding: 3.125rem 1.25rem;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 999;
  overflow: auto;
}
body.menu-open .header .menu__body {
  left: 0;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.header .menu__body::before {
  content: "";
  position: fixed;
  top: 5.6875rem;
  left: -100%;
  width: 100%;
  height: 5.6875rem;
  z-index: 1;
  transition: all 0.3s;
}
.header .menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.header .menu__item {
  padding: 0.625rem 0;
}
@media (min-width: 48em) {
  .header .menu__item {
    padding: 0 0;
    font-size: 0.9375rem;
  }
}
.header .menu__item a {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.header .menu__item a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fbd784;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .header .menu__item a:hover {
    color: #fbd784;
  }
  .header .menu__item a:hover::after {
    width: 100%;
  }
}
.header__active {
  display: flex;
  align-items: center;
  gap: 2.125rem;
}
@media (min-width: 32em) {
  .header__active {
    gap: 1.6875rem;
  }
}
.header__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}
.header__item span {
  font-size: 1.0625rem;
}
.header__item .icon {
  fill: currentColor;
  transition: fill 0.3s;
}
@media (any-hover: hover), (pointer: fine) {
  .header__item:hover {
    color: #fbd784;
  }
  .header__item:hover .icon {
    fill: #fbd784;
  }
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
  -webkit-backdrop-filter: blur(113.65px);
          backdrop-filter: blur(113.65px);
  background-color: #0b1d26;
  z-index: -1;
}
@media (min-width: 48em) {
  .header .icon-menu {
    display: none;
  }
  .header .menu__body {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    transition: none;
    overflow: hidden;
    border: none;
    box-shadow: none;
  }
  .header .menu__list {
    flex-direction: row;
    gap: 3.0625rem;
    align-items: center;
    justify-content: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  background-color: #0b1d26;
  color: #fff;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1490px;
  padding: 0 15px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}