html,
body,
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.header__wrapper {
  margin: 0 auto;
  max-width: 1790px;
  padding: 0 15px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625rem 0;
  gap: 0.625rem;
}
.header__logo {
  aspect-ratio: 108/24;
  max-width: 6.75rem;
  flex-shrink: 0;
  position: relative;
  z-index: 6;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .icon-menu {
  display: block;
  width: 26px;
  height: 20px;
  position: relative;
  z-index: 6;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .icon-menu span, .header .icon-menu::before, .header .icon-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  transition: 0.3s ease;
}
.header .icon-menu span {
  top: 50%;
  transform: translateY(-50%);
}
.header .icon-menu::before {
  top: 0;
}
.header .icon-menu::after {
  bottom: 0;
}
body.menu-open .header .icon-menu span {
  width: 0;
}
body.menu-open .header .icon-menu::before {
  transform: rotate(45deg) translateY(-2px);
  top: 50%;
}
body.menu-open .header .icon-menu::after {
  transform: rotate(-45deg) translateY(1px);
  bottom: 50%;
}
.header .menu__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5625rem;
  position: fixed;
  top: 5.6875rem;
  left: -100%;
  width: 100%;
  height: calc(100vh - 5.6875rem);
  background-color: #0b1d26;
  padding: 3.125rem 1.25rem;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 999;
  overflow: auto;
}
body.menu-open .header .menu__body {
  left: 0;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.header .menu__body::before {
  content: "";
  position: fixed;
  top: 5.6875rem;
  left: -100%;
  width: 100%;
  height: 5.6875rem;
  z-index: 1;
  transition: all 0.3s;
}
.header .menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.header .menu__item {
  padding: 0.625rem 0;
}
@media (min-width: 48em) {
  .header .menu__item {
    padding: 0 0;
    font-size: 0.9375rem;
  }
}
.header .menu__item a {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.header .menu__item a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fbd784;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
@media (any-hover: hover), (pointer: fine) {
  .header .menu__item a:hover {
    color: #fbd784;
  }
  .header .menu__item a:hover::after {
    width: 100%;
  }
}
.header__active {
  display: flex;
  align-items: center;
  gap: 2.125rem;
}
@media (min-width: 32em) {
  .header__active {
    gap: 1.6875rem;
  }
}
.header__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}
.header__item span {
  font-size: 1.0625rem;
}
.header__item .icon {
  fill: currentColor;
  transition: fill 0.3s;
}
@media (any-hover: hover), (pointer: fine) {
  .header__item:hover {
    color: #fbd784;
  }
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: -1;
}
@media (min-width: 48em) {
  .header .icon-menu {
    display: none;
  }
  .header .menu__body {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    transition: none;
    overflow: hidden;
    border: none;
    box-shadow: none;
  }
  .header .menu__list {
    flex-direction: row;
    gap: 3.0625rem;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  padding: 0.625rem 0 3.125rem 0;
  background-color: #0b1d26;
  position: relative;
}
@media (min-width: 48em) {
  .footer {
    padding: 0.625rem 0 7.5rem 0;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 2.5rem;
}
@media (min-width: 48em) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
  }
}
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (min-width: 48em) {
  .footer__block {
    display: grid;
    grid-column: span 2;
  }
}
@media (min-width: 65em) {
  .footer__block {
    grid-column: span 3;
  }
}
.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__logo {
  aspect-ratio: 108/24;
  max-width: 6.75rem;
  flex-shrink: 0;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__logo--mb {
  margin: 0 0 1.5625rem 0;
  align-self: center;
}
@media (min-width: 48em) {
  .footer__logo--mb {
    display: none;
  }
}
.footer__logo--tb {
  display: none;
}
@media (min-width: 47.99em) {
  .footer__logo--tb {
    display: block;
  }
}
.footer__description {
  line-height: 1.78;
}
@media (min-width: 48em) {
  .footer__description {
    max-width: 18.9375rem;
  }
}
.footer__copyright {
  font-weight: 500;
  line-height: 1.78;
  opacity: 0.5;
  align-self: end;
}
.footer__blocks {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
}
@media (min-width: 48em) {
  .footer__blocks {
    grid-column: span 3;
  }
}
@media (min-width: 65em) {
  .footer__blocks {
    grid-column: span 2;
  }
}

.footer-menu__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.1875rem;
}
@media (min-width: 35em) {
  .footer-menu__items {
    flex-direction: row;
    gap: 1.5625rem;
  }
}
.footer-menu__block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-menu__title {
  color: #fbd784;
  font-size: 1.5rem;
  line-height: 1.33;
}
.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-menu__item {
  font-weight: 500;
  line-height: 1.78;
  padding: 0.625rem 0;
}
@media (min-width: 48em) {
  .footer-menu__item {
    padding: 0.3125rem 0;
  }
}
@media (any-hover: hover), (pointer: fine) {
  .footer-menu__link:hover {
    color: #fbd784;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  background-color: #0b1d26;
  color: #fff;
}

html,
body {
  height: 100%;
}

#footer {
  background-color: #0b1d26;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1490px;
  padding: 0 15px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}
@media (any-hover: hover), (pointer: fine) {
  .icon:hover {
    fill: #fbd784;
  }
}

.hero {
  min-height: 100vh;
  position: relative;
}
.hero__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__body:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 2;
  background: linear-gradient(330deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
  pointer-events: none;
}
.hero__container {
  position: relative;
  z-index: 5;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .content-block {
  height: auto;
  padding: 0rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  min-width: 100%;
}
@media (min-width: 35em) {
  .hero .content-block {
    padding: 6.25rem 0;
  }
}
.hero .content-block__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0 1 70%;
}
.hero__label {
  font-size: 0.75rem;
  color: #fbd784;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
@media (min-width: 35em) {
  .hero__label {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 1.125rem;
  }
}
.hero__label::before {
  content: "";
  flex: 0 0 0.9375rem;
  height: 0.125rem;
  margin: 0 0.625rem 0 0;
  background-color: #fbd784;
}
@media (min-width: 35em) {
  .hero__label::before {
    flex: 0 0 4.8125rem;
    margin: 0 1.875rem 0 0;
  }
}
.hero__title {
  font-family: "Chronicle Display";
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.13;
  text-transform: capitalize;
}
@media (min-width: 35em) {
  .hero__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 48em) {
  .hero__title {
    font-size: 5.5rem;
  }
}
.hero__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}
.follow-us__title {
  writing-mode: vertical-rl;
  font-size: 0.875rem;
}
@media (min-width: 35em) {
  .follow-us__title {
    font-size: 1.125rem;
  }
}
.follow-us__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}
.button {
  display: block;
  align-self: self-start;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  transition: color 0.3s;
}
@media (any-hover: hover), (pointer: fine) {
  .button:hover {
    color: #fbd784;
  }
  .button:hover .icon {
    fill: #fbd784;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
@media (min-width: 35em) {
  .slider {
    gap: 1.25rem;
  }
}
.slider__item {
  text-align: right;
  padding: 1.25rem 1.25rem 1.25rem 0;
  border-right: 1px solid #fff;
  font-size: 0.875rem;
}
@media (min-width: 35em) {
  .slider__item {
    font-size: 1.125rem;
    padding: 0.9375rem 0.9375rem 0.9375rem 0;
  }
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.images-parallax__clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: url(../images/hero/clouds.jpg) top/cover no-repeat;
  top: 0;
}
.images-parallax__mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: url(../images/hero/mountains.png) top/cover no-repeat;
  top: 15%;
  z-index: 2;
}
.images-parallax__man {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: url(../images/hero/man.png) top/cover no-repeat;
  top: 45%;
  z-index: 3;
}
@media (max-aspect-ratio: 3/2) {
  .images-parallax__man {
    background-position: 20% top;
  }
}

.card-content {
  position: relative;
  height: 100%;
  padding: 8.75rem 0 12.5rem 0;
  background-color: #0b1d26;
  overflow: hidden;
}
@media (min-width: 48em) {
  .card-content {
    padding: 15rem 0 12.5rem 0;
  }
}
.card-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31.25rem;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  z-index: 1;
  pointer-events: none;
}
@media (min-width: 48em) {
  .card-content::before {
    height: 43.75rem;
  }
}
.card-content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
  position: relative;
  z-index: 2;
}
@media (min-width: 48em) {
  .card-content__wrapper {
    flex-direction: row;
    gap: 2.5rem;
  }
}
@media (min-width: 75em) {
  .card-content__wrapper {
    gap: 7.125rem;
  }
}
.card-content__content {
  display: flex;
}
.card-content__number {
  font-size: 4.375rem;
  line-height: 1;
  opacity: 0.1;
  margin: -1.25rem -1.25rem 0 0;
  opacity: 0;
}
.card-content__number.visible {
  animation: slideInLeftOpacity 0.8s ease-out forwards;
  animation-delay: 0.2s;
}
@media (min-width: 48em) {
  .card-content__number {
    font-size: 8.75rem;
    margin: -3.125rem -2.8125rem 0 0;
  }
}
@media (min-width: 75em) {
  .card-content__number {
    font-size: 15rem;
    margin: -6.25rem -5.625rem 0 0;
  }
}
.card-content__text {
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
  opacity: 0;
}
.card-content__text.visible {
  animation: slideInLeft 0.8s ease-out forwards;
  animation-delay: 0.2s;
}
@media (min-width: 48em) {
  .card-content__text {
    max-width: 39.5rem;
  }
}
.card-content__label {
  color: #fbd784;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
@media (min-width: 75em) {
  .card-content__label {
    font-size: 1.125rem;
  }
}
.card-content__label::before {
  content: "";
  height: 0.125rem;
  background-color: #fbd784;
  flex: 0 0 2.5rem;
  margin: 0 0.875rem 0 0;
}
@media (min-width: 75em) {
  .card-content__label::before {
    flex: 0 0 4.5rem;
    margin: 0 1.5rem 0 0;
  }
}
.card-content__title {
  font-family: "Chronicle Display";
  font-size: 2.375rem;
  font-weight: 600;
}
@media (min-width: 48em) {
  .card-content__title {
    font-size: 2.625rem;
  }
}
@media (min-width: 75em) {
  .card-content__title {
    font-size: 4rem;
  }
}
.card-content__description {
  font-size: 0.875rem;
  line-height: 1.78;
}
@media (min-width: 75em) {
  .card-content__description {
    font-size: 1.125rem;
  }
}
.card-content__image {
  min-height: 100%;
  aspect-ratio: 566/720;
  max-height: 20rem;
  width: 100%;
  overflow: hidden;
  opacity: 0;
}
.card-content__image.visible {
  animation: slideInRight 0.8s ease-out forwards;
  animation-delay: 0.8s;
}
@media (min-width: 48em) {
  .card-content__image {
    max-height: 45rem;
    flex: 1 0 35%;
  }
}
.card-content__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 48em) {
  .card-content__image img {
    -o-object-position: center;
       object-position: center;
  }
}

.button-link {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.button-link .icon {
  margin-top: 8px;
}
@media (any-hover: hover), (pointer: fine) {
  .button-link:hover {
    color: #fbd784;
  }
  .button-link:hover .icon {
    fill: #fbd784;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeftOpacity {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}