@use "_index" as *;
@use "components/_header";
@use "components/_footer";

html {
  scroll-behavior: smooth;
}

body {
  font-size: toRem(18);
  line-height: 1.2;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  background-color: $bgMain;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}
