@use "_index" as *;
@use "components/_header";
@use "components/_footer";

html {
  scroll-behavior: smooth;
}

body {
  font-size: toRem(18);
  line-height: 1.2;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  background-color: $bgMain;
  color: $colorWhite;
}

html,
body {
  height: 100%;
}

#footer {
  background-color: $bgMain;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1490px;
  padding: 0 15px;
}

// .page-margin

.page-margin {
  // margin: toRem(105) 0 0 0;

  // @media (min-width: 48em) {
  //   margin: toRem(160) 0 0 0;
  // }
}

// UI KIT//

.icon {
  width: 24px;
  height: 24px;
  fill: white;

  @media (any-hover: hover), (pointer: fine) {
    &:hover {
      fill: $colorAccent;
    }
  }
}

// HERO SECTION //

.hero {
  min-height: 100vh;
  position: relative;

  // .hero__body

  &__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: 0.4s;
      z-index: 2;
      background: linear-gradient(
        330deg,
        rgba(11, 29, 38, 0) 31.06%,
        #0b1d26 108.93%
      );
      pointer-events: none;
    }
  }

  // .hero__container

  &__container {
    position: relative;
    z-index: 5;
  }

  // .hero__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content-block {
    height: auto;
    padding: toRem(0) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
    min-width: 100%;

    @media (min-width: 35em) {
      padding: toRem(100) 0;
    }

    // .content-block__content

    &__content {
      display: flex;
      flex-direction: column;
      gap: toRem(32);
      flex: 0 1 70%;
    }
  }

  // .hero__label

  &__label {
    font-size: toRem(12);
    color: $colorAccent;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media (min-width: 35em) {
      font-weight: 800;
      letter-spacing: 6px;
      font-size: toRem(18);
    }

    &::before {
      content: "";
      flex: 0 0 toRem(15);
      height: toRem(2);
      margin: 0 toRem(10) 0 0;
      background-color: $colorAccent;

      @media (min-width: 35em) {
        flex: 0 0 toRem(77);
        margin: 0 toRem(30) 0 0;
      }
    }
  }

  // .hero__title

  &__title {
    font-family: "Chronicle Display";
    font-size: toRem(28);
    font-weight: 600;
    line-height: 1.13;
    text-transform: capitalize;

    @media (min-width: 35em) {
      font-size: toRem(56);
    }

    @media (min-width: 48em) {
      font-size: toRem(88);
    }
  }

  // .hero__images

  &__images {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;
  }
}
.follow-us {
  display: flex;
  align-items: center;
  gap: toRem(24);
  flex-direction: column;

  // .follow-us__title

  &__title {
    writing-mode: vertical-rl;
    font-size: toRem(14);

    @media (min-width: 35em) {
      font-size: toRem(18);
    }
  }

  // .follow-us__list

  &__list {
    display: flex;
    align-items: center;
    gap: toRem(24);
    flex-direction: column;
  }

  // .follow-us__item

  &__item {
  }

  .icon {
  }
}
.button {
  display: block;
  align-self: self-start;
  display: flex;
  align-items: center;
  gap: toRem(20);
  transition: color 0.3s;

  @media (any-hover: hover), (pointer: fine) {
    &:hover {
      color: $colorAccent;

      .icon {
        fill: $colorAccent;
      }
    }
  }
}
.slider {
  display: flex;
  flex-direction: column;
  gap: toRem(15);

  @media (min-width: 35em) {
    gap: toRem(20);
  }

  // .slider__item

  &__item {
    text-align: right;
    padding: toRem(20) toRem(20) toRem(20) 0;
    border-right: 1px solid $colorWhite;
    font-size: toRem(14);

    @media (min-width: 35em) {
      font-size: toRem(18);
      padding: toRem(15) toRem(15) toRem(15) 0;
    }
  }
}
.images-parallax {
  // .images-parallax__item

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // .images-parallax__clouds

  &__clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url(../images/hero/clouds.jpg) top / cover no-repeat;
    top: 0;
  }

  // .images-parallax__mountains

  &__mountains {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url(../images/hero/mountains.png) top / cover no-repeat;
    top: 15%;
    z-index: 2;
  }

  // .images-parallax__man

  &__man {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url(../images/hero/man.png) top / cover no-repeat;
    top: 45%;
    z-index: 3;

    @media (max-aspect-ratio: 3/2) {
      background-position: 20% top;
    }
  }
}

// CARD CONTENT //

.card-content {
  position: relative;
  height: 100%;
  padding: toRem(140) 0 toRem(200) 0;
  background-color: $bgMain;
  overflow: hidden;

  @media (min-width: 48em) {
    padding: toRem(240) 0 toRem(200) 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: toRem(500);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
    z-index: 1;
    pointer-events: none;

    @media (min-width: 48em) {
      height: toRem(700);
    }
  }

  // .card-content__container

  &__container {
  }

  // .card-content__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: toRem(60);
    position: relative;
    z-index: 2;

    @media (min-width: 48em) {
      flex-direction: row;
      gap: toRem(40);
    }

    @media (min-width: 75em) {
      gap: toRem(114);
    }
  }

  // .card-content__content

  &__content {
    display: flex;
  }

  // .card-content__number

  &__number {
    font-size: toRem(70);
    line-height: 1;
    opacity: 0.1;
    margin: toRem(-20) toRem(-20) 0 0;

    opacity: 0;
    // transform: translateX(-100px);

    &.visible {
      animation: slideInLeftOpacity 0.8s ease-out forwards;
      animation-delay: 0.2s;
    }

    @media (min-width: 48em) {
      font-size: toRem(140);
      margin: toRem(-50) toRem(-45) 0 0;
    }

    @media (min-width: 75em) {
      font-size: toRem(240);
      margin: toRem(-100) toRem(-90) 0 0;
    }
  }

  // .card-content__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: toRem(27);
    opacity: 0;
    // transform: translateX(-100px);

    &.visible {
      animation: slideInLeft 0.8s ease-out forwards;
      animation-delay: 0.2s;
    }

    @media (min-width: 48em) {
      max-width: toRem(632);
    }
  }

  // .card-content__label

  &__label {
    color: $colorAccent;
    font-size: toRem(14);
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media (min-width: 75em) {
      font-size: toRem(18);
    }

    &::before {
      content: "";
      height: toRem(2);
      background-color: $colorAccent;
      flex: 0 0 toRem(40);
      margin: 0 toRem(14) 0 0;

      @media (min-width: 75em) {
        flex: 0 0 toRem(72);
        margin: 0 toRem(24) 0 0;
      }
    }
  }

  // .card-content__title

  &__title {
    font-family: "Chronicle Display";
    font-size: toRem(38);
    font-weight: 600;

    @media (min-width: 48em) {
      font-size: toRem(42);
    }

    @media (min-width: 75em) {
      font-size: toRem(64);
    }
  }

  // .card-content__description

  &__description {
    font-size: toRem(14);
    line-height: 1.78;

    @media (min-width: 75em) {
      font-size: toRem(18);
    }
  }

  // .card-content__image

  &__image {
    min-height: 100%;
    aspect-ratio: 566 / 720;
    max-height: toRem(320);
    width: 100%;
    overflow: hidden;

    opacity: 0;
    // transform: translateX(100px);

    &.visible {
      animation: slideInRight 0.8s ease-out forwards;
      animation-delay: 0.8s;
    }

    @media (min-width: 48em) {
      max-height: toRem(720);
      flex: 1 0 35%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: bottom;

      @media (min-width: 48em) {
        object-position: center;
      }
    }
  }
}
.button-link {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  gap: toRem(16);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .icon {
    margin-top: 8px;
  }

  @media (any-hover: hover), (pointer: fine) {
    &:hover {
      color: $colorAccent;

      .icon {
        fill: $colorAccent;
      }
    }
  }
}

// ANIMATIONS //

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeftOpacity {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
