<header class="header">
  <div class="header__wrapper">
    <div class="header__body">
      <button class="icon-menu" type="button">
        <span></span>
      </button>
      <a href="/" class="header__logo">
        <img src="../images/logo.svg" alt="MNTN" />
      </a>
      <nav class="header__nav menu">
        <div class="menu__body">
          <ul class="menu__list">
            <li class="menu__item"><a href="#">Equipment</a></li>
            <li class="menu__item"><a href="#">About Us</a></li>
            <li class="menu__item"><a href="#">Blog</a></li>
          </ul>
        </div>
      </nav>
      <div class="header__active">
        <button class="header__item">
          <svg class="icon">
            <use href="#icon-account"></use>
          </svg>
          <span>Account</span>
        </button>
      </div>
    </div>
  </div>
</header>
